.icon.Darwin {
  background-image: url("./img/Darwin/IconDarwin350.jpg");
}

BRAWL-CARD[is=darwin-card]:after {
  background-image: url("./img/Darwin/back.jpg");
}
BRAWL-CARD[is=darwin-card].base:before {
  background-image: url("./img/Darwin/base.jpg");
}
BRAWL-CARD[is=darwin-card].hitB:before {
  background-image: url("./img/Darwin/hitB.jpg");
}
BRAWL-CARD[is=darwin-card].hit2B:before {
  background-image: url("./img/Darwin/hit2B.jpg");
}
BRAWL-CARD[is=darwin-card].blockB:before {
  background-image: url("./img/Darwin/blockB.jpg");
}
BRAWL-CARD[is=darwin-card].hitG:before {
  background-image: url("./img/Darwin/hitG.jpg");
}
BRAWL-CARD[is=darwin-card].hit2G:before {
  background-image: url("./img/Darwin/hit2G.jpg");
}
BRAWL-CARD[is=darwin-card].blockG:before {
  background-image: url("./img/Darwin/blockG.jpg");
}
BRAWL-CARD[is=darwin-card].hitR:before {
  background-image: url("./img/Darwin/hitR.jpg");
}
BRAWL-CARD[is=darwin-card].hit2R:before {
  background-image: url("./img/Darwin/hit2R.jpg");
}
BRAWL-CARD[is=darwin-card].blockR:before {
  background-image: url("./img/Darwin/blockR.jpg");
}
BRAWL-CARD[is=darwin-card].clear:before {
  background-image: url("./img/Darwin/clear.jpg");
}
BRAWL-CARD[is=darwin-card].press:before {
  background-image: url("./img/Darwin/press.jpg");
}
BRAWL-CARD[is=darwin-card].freeze:before {
  background-image: url("./img/Darwin/freeze.jpg");
}