BRAWL-CARD {
  background: #FFF;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  height: 211px;
  /* opacity: 0; */
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  width: 152px;
}

BRAWL-CARD:after,
BRAWL-CARD:before {
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: 150px 209px;
  border-radius: 3px;
  content: '';
  display: block;
  height: 209px;
  position: absolute;
  transition: all 0.5s ease;
  width: 150px;
}

BRAWL-CARD:before {
  transform: rotateY(180deg);
  z-index: 1;
}